@import "compass/css3";

body {
    
}

.iconDetails {
    margin-left: 20px;
    float: left;
    height: 70px;
    width: 70px;
}

.container2 {
    width: 100%;
    height: auto;
    padding: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

    li:last-child {
        border: none;
    }

    li a {
        text-decoration: none;
        color: #000;
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
        display: block;
        width: auto;
    }

        li a:hover {
            font-size: 18px;
            background: #f6f6f6;
        }
.green_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 120px;
    height: 28px;
    padding: 2px 2px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

