<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GTI_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="GTIIntegrativa" connectionString="Data Source=SKYNET;Initial Catalog=GTI_Eicon;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>

    <!--add name="GTI_Main" connectionString="Data Source=SKYNET;Initial Catalog=Tributacao;Persist Security Info=True;User ID=gtisys;Password=everest"  providerName="System.Data.SqlClient" /-->
    <!-->add name="GTI_Developer" connectionString="Data Source=PCQUARTO;Initial Catalog=Tributacao;Persist Security Info=True;User ID=gtisys;Password=everest"  providerName="System.Data.SqlClient" /-->
    <!-->add name="GTI_DBServer" connectionString="Data Source=192.168.15.160;Initial Catalog=Tributacao;Persist Security Info=True;User ID=gtisys;Password=everest"  providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <GTI_Desktop.Properties.Settings>
      <setting name="Path_Anexo_Net" serializeAs="String">
        <value>\\192.168.200.130\atualizagti\documentos\</value>
      </setting>
    </GTI_Desktop.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
